<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" href="/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/underscore-min.js"></script>
<script src="/vendor/backbone.js"></script>
<script src="/js/navi.js"></script>
<title>{{headerTitle}}</title>
<!-- http://www.favicon-generator.org/ -->
<link href='//fonts.googleapis.com/css?family=Arvo|Lobster|Rokkitt|Oswald|Nunito' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
var isSignedIn = {{isLogedIn req}};
</script>

</head>
