npm-debug.log
coverage/
node_modules/
.sass-cache/
public/portfolio
public/jest
public/css/*.css.map
public/css/*.css
public/js/build/
public/js/min/
public/fileDropDemo/node_modules
public/prefixer/tmp/
public/prefixer/node_modules/
public/vendor/*
