<head>
<title>bear on broccoli</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans|Raleway:400,900' rel='stylesheet' type='text/css'>
<link href="/broccoli/dist/css/a.css" rel="stylesheet" />
<link rel="stylesheet" href="/vendor/bootstrap.min.css" />
</head>
<div class="hd">
	<h1>bear</h1>
</div>
<div class="bd">
	<div id="indicator-mountpoint"></div>
	<div id="editor-mountpoint"></div>
</div>
<script src="/broccoli/dist/js/app.js"></script>
