<link rel="stylesheet" href="/public/css/crawler.css">
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/public/vendor/underscore-min.js"></script>
<script src="/public/js/react-0.13.1/build/react-with-addons.js"></script>
<script src="/public/js/react-0.13.1/build/JSXTransformer.js"></script>
<script>
var crawlerId = {{{json crawlerId}}};
</script>
<script type="text/jsx" src="/public/js/crawler.js"></script>
<h1>Crawler Subscribe</h1>
<div id="subscribe-list"></div>
<div id="subscribe-editor" class="popup"></div>
