<link rel="stylesheet" href="/public/css/crawler.css" />
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/public/vendor/react-with-addons.js"></script>
<script src="/public/vendor/underscore-min.js"></script>
<script src="/public/vendor/JSXTransformer.js"></script>
<script type="text/jsx" src="/public/js/crawler.jsx"></script>
<h1>Crawler</h1>
<div id="crawler-list"></div>
<div id="crawler-editor" class="popup"></div>
