<link rel="stylesheet" href="/css/file.css">
<div id="demo-bd">
	<div draggable="true" id="foo">DROP YOUR FILE HERE</div>
	<div class="preview">
		<div id="preview-bd"></div>
	</div>
</div>
<script src="/vendor/jquery.min.js"></script>
<script src="/fileDropDemo/bundle.js"></script>
