<link rel="stylesheet" href="/css/file.css">
<div id="demo-bd">
	<div draggable="true" id="foo">DROP YOUR FILE HERE</div>
	<div class="preview">
		<div id="preview-bd"></div>
	</div>
</div>
<script src="/js/build/file.js"></script>
