<link rel="stylesheet" href="/css/collection.css">
<div class="home main">
	<img src="http://pre06.deviantart.net/065f/th/pre/f/2010/273/9/6/bear_wielding_chainsaw_chucks_by_gl_of_cybertron-d2ztl14.png"/>
</div>

<script src="/js/build/home.js"></script>
<!-- <script src="/js/build/home.min.js"></script>-->
