<ul>
<li><a href="https://zh.wikipedia.org/wiki/AV%E5%A5%B3%E5%84%AA%E5%88%97%E8%A1%A8#2003.E5.B9.B4.E5.87.BA.E9.81.93_.E6.97.A5.E6.9C.ACAV.E5.A5.B3.E5.84.AA.E5.88.97.E8.A1.A8">list</a></li>
<li><a href="http://www.18daquan.com/nvyoumingzi">list from porn site</a></li>
<li><a href="http://www.kawa.net/works/ajax/romanize/japanese.html">translator</a></li>
<li><a href="http://bbs.tianya.cn/post-free-3660718-1.shtml">another list (with photo)</a></li>
<textarea>https://www.bing.com/images/async?q=%E5%88%9D%E9%9F%B3%E5%AE%9E&async=content&first=87&count=35&dgst=ro_u1679*&IID=images.1&SFX=3&IG=fe58978df453482fb40240409a85be82&CW=1234&CH=440&CT=1438850853881&col=&form=HDRSC2</textarea>
MARIA TAKAGI
大塚咲
及川奈央
吉野サリー
友田真希
乃亞
大島薰
</ul>
