<div class="">
	<h1>Name Generator</h1>
	<div id="name-gen" class="name-gen">
		<div class="name-card">
			<b></b>
			<span></span>
			<i class="glyphicon glyphicon-refresh"></i>
			<em class="glyphicon glyphicon-heart"></em>
		</div>
	</div>
</div>
<script>
var nameBases = {{{json nameBases}}};
</script>
<script src="/public/js/name.js"></script>
