$responsive-breakpoint-sm: 800px;
$responsive-breakpoint-xs: 400px;
/* Palette URL: http://paletton.com/#uid=70r050knPon00te3wf0Xjur++e8 */
$color-primary-0: #C26F32;	// Main Primary color */
$color-primary-1: #E9E9E9;
$color-primary-2: #78706A;
$color-primary-3: #F26700;
$color-primary-4: #713000;

$color-secondary-1-0: #C27632;	// Main Secondary color (1) */
$color-secondary-1-1: #E9E9E9;
$color-secondary-1-2: #78716A;
$color-secondary-1-3: #F27200;
$color-secondary-1-4: #713500;

$color-secondary-2-0: #1F6F76;	// Main Secondary color (2) */
$color-secondary-2-1: #8E8E8E;
$color-secondary-2-2: #414849;
$color-secondary-2-3: #008794;
$color-secondary-2-4: #003F45;

$color-complement-0: #1F796F;	// Main Complement color */
$color-complement-1: #919191;
$color-complement-2: #424A49;
$color-complement-3: #009787;
$color-complement-4: #00463F;
