/* Palette URL: http://paletton.com/#uid=70r050knPon00te3wf0Xjur++e8 */
html, body {
  height: 100%;
}

.appearable {
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  transition: all 300ms ease-out;
}
.appearable.appear {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

textarea:hover,
input:not([type=checkbox]):hover,
textarea:active,
input:not([type=checkbox]):active,
textarea:focus,
input:not([type=checkbox]):focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}

body a {
  transition: color 300ms ease-out;
  color: #008794;
}

body a:hover {
  color: #F26700;
  text-decoration: none;
}

body {
  background: url(/assets/stone.jpg);
  color: #78706A;
  font-family: 'Arvo', sans-serif;
  font-size: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  body {
    background-size: 225px auto;
  }
}

h1, h2, h3 {
  color: #000;
}

h1 {
  border-bottom: 1px solid #999;
  margin-bottom: .5em;
  line-height: 1.6;
}

.narrow-page {
  max-width: 1000px;
  margin: 20px auto 0;
}

.btn.secondary {
  background-color: #78706A;
  color: #fff;
}

.btn.primary {
  background-color: #C26F32;
  color: #fff;
}

#navi {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  box-shadow: inset 0px -9px 26px -7px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  font-size: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 400px) {
  body.navi-list-expend > div > *:not(nav) {
    display: none;
  }
}
nav .logo {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
nav .logo a {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.2);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}
nav a {
  font-family: 'Arvo', sans-serif;
  color: #000;
}
nav .navi-list .toggle {
  padding: 1em;
  position: absolute;
  z-index: 2;
}
nav .navi-list > ul {
  transition: all 400ms ease-out;
  opacity: 0;
  position: absolute;
  padding: 0;
  top: 55px;
  left: 10px;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  z-index: 3;
  margin: 0;
  visibility: hidden;
}
@media (max-width: 400px) {
  nav .navi-list > ul {
    background-color: #fff;
    overflow: hidden;
    font-size: 3em;
    padding: 0;
    height: 0;
    width: 100%;
    top: 45px;
    left: 0px;
  }
}
nav .navi-list > ul li {
  transition: all 100ms ease-out;
  background: #ddd;
  box-shadow: 0 0px 14px 0 rgba(0, 0, 0, 0.3), -3px 1px 5px 0 rgba(0, 0, 0, 0.3);
  color: #777;
}
nav .navi-list > ul li:nth-of-type(2n) {
  background: #fff;
}
nav .navi-list > ul li:hover {
  color: #fff !important;
  background: #009787 !important;
}
@media (min-width: 400px) {
  nav .navi-list > ul li {
    border-radius: 5px;
    margin-top: .2em;
  }
  nav .navi-list > ul li:first-of-type {
    margin-top: 0;
  }
}
nav .navi-list > ul li a {
  font-size: .5em;
  display: block;
  padding: 1em;
}
@media (max-width: 400px) {
  nav .navi-list > ul li a {
    padding: 0;
    line-height: 3;
  }
}
body.navi-list-expend nav .navi-list > ul {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 400px) {
  body.navi-list-expend nav .navi-list > ul {
    height: 100%;
  }
}

.popup {
  position: fixed;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 1px 15px 0 rgba(0, 0, 0, 0.3), 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 3;
  top: 20%;
}
.popup * {
  font-size: 16px;
}
.popup .nav-tabs {
  margin-bottom: 20px;
}
.popup.login {
  opacity: 0;
  transition: all ease-out 200ms;
  height: 386px;
  top: 50%;
  margin-top: -193px;
}
body.signin .popup.login {
  top: 50px;
  left: 0;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  box-shadow: none;
  z-index: 0;
  background: transparent;
}
@media (min-width: 800px) {
  body.signin .popup.login {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  body.signin .popup.login .nav {
    display: none;
  }
  body.signin .popup.login h3 {
    font-size: 2em;
    display: block;
  }
  body.signin .popup.login form {
    display: block !important;
    width: 47%;
    margin-left: 3%;
    padding-left: 3%;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }
  body.signin .popup.login form:first-of-type {
    margin-left: 0%;
    padding-left: 0%;
    border-left: 0px;
  }
}
.popup.login.appear {
  opacity: 1;
}
.popup.login h3 {
  display: none;
}
.popup.login .signin-section,
.popup.login .signup-section {
  display: none;
}
.popup.login.on-signin .signin-section {
  display: block;
}
.popup.login.on-signup .signup-section {
  display: block;
}

#header-utils {
  position: absolute;
  right: 10px;
  top: 10px;
}
#header-utils .logout, #header-utils.signed-in .login {
  display: none;
}
#header-utils.signed-in .logout {
  display: block;
}
