a:hover{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
}


nav {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #eee;
	border: 0;
	box-shadow: inset 0px -9px 26px -7px rgba(0,0,0,.3);
	border-radius: 0;
	font-size: 16px;
}
@media(max-width:800px){
	body nav{
		font-size: 3vw;
	}
}
nav .logo a{
	font-family: 'Lobster', cursive;
	font-size: 4em;
}
nav ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
nav ul li{
	margin: 0 .5em .5em 0;
	padding: .5em 1em;
	background: #fff;
	border-radius: 1em;
	white-space: nowrap;
}
nav a{
	font-family: 'Nunito', sans-serif;
	color: #000;
}
