.main>*{
	padding-right: 20px;
}
.main>*:last-of-type{
	padding-right: 0px;
}
.main>*>*{
	padding: 20px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
}
.preview .css{
}
.preview .css textarea{
	white-space: nowrap;
	height: 8em;
}
.preview .sample .obj{
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50%;
	background-color: transparent;
	margin: auto;
}
