@import "_global.scss";
#foo{
	font-size: 7vmin;
	padding: 1em;
	border: 10px #fff solid;
	text-align: center;
	color: #C25732;
}
.container-fluid{
	height: 100%;
}
.preview{
	color: #fff;
	font-size: 14px;
	background: rgba(0,0,0,.3);
	padding: 1em;
	overflow: auto;
	li.css{
		span{
			white-space: nowrap;
		}
		.i{
			text-indent: 1em;
		}
	}
	.selector{
	}
}
#foo:hover{
	border-style: dashed;
}
#demo-bd{
	padding: 2em;
	display: flex;
	height: calc(100% - 50px);
	>*{
		width: 50%;
		@media(max-width: $responsive_breakpoint_xs){
			width: 100%;
			min-height: 50%;
		}
	}
	@media(max-width: $responsive_breakpoint_xs){
		flex-direction: row;
		flex-wrap: wrap;
	}
}

