@keyframes flashing{
	0% {opacity:1;}
	20%{opacity:0.6;}
	100%{opacity:1;}
}
.flashing {
	animation: flashing 200ms infinite;
	cursor: pointer;
}
.btn{
	outline: 0 !important;
}
/* Palette URL: http://paletton.com/#uid=70r050knPon00te3wf0Xjur++e8 */
.generator{
	margin-bottom: 15px;
}
.generator .name-card {
	width: 100%;
}
.name-card {
	box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.3) inset;
	padding: 30px 10%;
	background: #78706A;
	display: inline-block;
	border-radius: 10px;
	min-width: 290px;
	text-align: center;
	position: relative;
	color: #ecc204;
}
.name-card .selected{
	animation: flashing 2000ms infinite;
	text-shadow: 0 0 .1em rgba(255,255,255,1);
	font-weight: bold;
	color: #F26700;
}
.name-card .utils{
	display: flex;
	justify-content: space-between;
}
.name-card .remove,
.name-card .utils>*{
	font-size: 15px;
	padding: 10px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 1;
	color: #333;
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,.3);
	display: flex;
	text-align: center;
	align-items: center;
}
.name-card h4,
.name-card .main{
	display: block;
}
.name-card .main{
	cursor: pointer;
	font-size: 120px;
	line-height: 1.1;
}
.name-card .remove{
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: inherit;
}
.name-card h4:after,
.name-card h4:before{
	content: ' " ';
}
.name-card h4{
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
}
.fav{
	padding: inherit;
}
.fav>ul>li{
	margin-bottom: 30px;
}
.fav>ul>li .name-card{
	background: #E9E9E9;
	color: #F26700;
	min-width: 100%;
	padding-bottom: 50px;
}
.fav>ul>li .name-card .main{
	font-size: 50px;
}

.colapseable.expand .word{
	display: block;
}
.colapseable .word{
	clear: both;
	text-align: left;
	display: none;
	background-color: #E9E9E9;
	padding: 10px;
	margin-top: 15px;
	border-radius: 10px;
}
.fav .dictionary.expand {
	margin: -15px;
	text-align: left;
	z-index: 10;
	background-color: #fff;
	padding: 15px;
	width: 300px;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,.5);
}
.generator .dictionary{
	text-align: center;
	color: #414849;
	margin-top: 16px;
}
.dictionary h6{
	color: #008794;
	font-size: 1.5em;
}
.dictionary h5{
	color: #F26700;
	font-size: 2em;
}
.fav .dictionary {
	position: absolute;
	top: 90px;
	right: 27px;
}
.generator .dictionary .toggler{
	display: inline-block;
	float: none !important;
	margin-bottom: 0px;
}
.dictionary .toggler{
	color: #fff;
	background-color: #009787;
	margin-bottom: 10px;
}
